root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false
